{% extends "layout.html.twig" %}
{% set active_page = "Whoops" %}

{% block title %}Retard Ligne {{ routeShortName }}{% endblock %}

{% block description %}{% endblock %}

{% block navbarbrand %}Retard Ligne {{ routeShortName }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="errorPanel">
        <div class="col-xs-4">
            <img class="img-responsive pull-right" src="{{ asset('/img/minions.png') }}" alt="Error ghost"/>
        </div>
        <div class="col-xs-6">
            <h1>Whoops...<br><small>{{ message }}</small></h1>
        </div>
    </div>
</div>
{% endblock %}